*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    position: sticky;
    z-index: 10;
    padding: 24px;
    background-color: white;
    height: 64px;
    height: 32px;
}

.academy{
    height: 32px;
}

.a {
    text-decoration: none; 
    display: flex;
    align-items: center;
    color: inherit;
}


.menu-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

    
.menu-list  li {
    margin-left: 16px;
}
 
.menu-list li a {
    text-decoration: none;
    color: #30A9DE;
}

.banner {
    display: flex;
    background-color: rgb(194, 191, 191);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    width: 100%;
}

.banner-pic {
    width: 60%;
    height: auto;
}

.banner-pic img {
    width: 100%;
    height: auto;
}

.banner-detail {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
    width: 30%;
    height: auto;
}

.header-banner {
    line-height: 50px;
    color: #30A9DE;
    margin-bottom: 20px;
    font-size: 60px;
}

.header-banner-detail{
    margin-bottom: 20px;
    font-size: 15px;
}

.start-here {
    padding: 8px;
    background-color: rgb(86, 86, 86);
    color: white;
}

.information {
    display: flex;
}

.information-main {
    width: 60%;
    padding-top: 32px;
   
    padding-left: 24px;
    padding-right: 24px;
}

.information-main-pic {
    width: 100%;
    height: auto;
    padding-bottom: 32px;
}

.information-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 32px;
}

.information-orientation {
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
}

.information-orientation:hover {
    background-color:  rgb(194, 191, 191);

}

.information-orientation-pic {
    width: 35%;
    height: auto;
    /* padding-top: 16px; */
}

.information-orientation-detail{
    display:flex;
    flex-direction: column;
    width: 65%;
    margin-left: 24px;
    justify-content: center;
}

.information-campus{
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px;
}

.information-campus:hover {
    background-color:  rgb(194, 191, 191);
}

.information-campus-pic{
    width: 35%;
    height: auto;
}

.information-campus-detail {
    display:flex;
    flex-direction: column;
    width: 65%;
    margin-left: 24px;
    justify-content: center;
}

.information-guest {
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px;
}

.information-guest-pic {
    width: 35%;
    height: auto;
}

.information-guest-detail {
    display:flex;
    flex-direction: column;
    width: 65%;
    margin-left: 24px;
    justify-content: center;
}

.information-guest:hover {
    background-color:  rgb(194, 191, 191);
}

.start {
    background-color: rgb(194, 191, 191);
    width: 100%;
    padding-bottom: 32px;
}

.start-learning {
    display: flex;
    padding-top: 32px;
    justify-content: center;
    font-size: 40px;
}

.start-learning-card-one {
    display: flex;
    padding-top: 32px;
    padding-left: 72px;
    padding-right: 72px;
    width: 100%;
}

.start-learning-card-two {
    display: flex;
    padding-top: 32px;
    padding-left: 72px;
    padding-right: 72px;
    width: 100%;
}

.card-one{
    width: 30%;
    height: auto;
    background-color: white;
}

.course-software-pic {
    width: 100%;
    margin-right: 32px;
}

.card-two{
    width: 30%;
    height: auto;
    margin-left: 32px;
    background-color: white;
}

.course-computer-art-pic {
    width: 100%;
    margin-right: 32px;
}

.card-three{
    width: 30%;
    height: auto;
    margin-left: 32px;
    background-color: white;
}

.course-design-pic{
    width: 100%;
    margin-right: 32px;
}

.card-four{
    width: 30%;
    height: auto;
    background-color: white;
}

.course-data-pic{
    width: 100%;
    margin-right: 32px;
}

.card-five{
    width: 30%;
    height: auto;
    margin-left: 32px;
    background-color: white;
}

.course-busines-pic{
    width: 100%;
    margin-right: 32px;
}

.card-six{
    width: 30%;
    height: auto;
    margin-left: 32px;
    background-color: white;
}

.course-marketing-pic{
    width: 100%;
    margin-right: 32px;
}


.card-contend{
    padding-bottom: 24px;
}

.thesis-exhibits {
    background-color: white;

}

.topic{
    display: flex ;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32PX;
    font-size: 40px;

}

.thesis-exhibits {
    display: flex;
    flex-direction: column;
     justify-content: center;
     width: 100%;
}

.thesis-container {
    display: flex;
    width: 100%;
}


.thesis-video-section {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.thesis-video {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
}

.thesis-video-section h4 {
    padding-bottom: 8px;
}

.thesis-video-section p {
    padding-bottom: 32px;
}

.thesis-content-section {
    width: 40%;
}

.thesis-fisma-pic{
    width: 35%;
    height: auto;
    padding: 16px;
}

.thesis-item-fisma {
    display: flex;  
}

.thesis-item-fisma:hover {
    background-color:  rgb(194, 191, 191);
}

.fisma-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.thesis-now-and-then-pic{
    width: 35%;
    height: auto;
    padding: 16px;
}

.thesis-item-now {
    display: flex;
}
.thesis-item-now:hover {
    background-color:  rgb(194, 191, 191);
}
.now-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 16px;
    text-decoration: none;
    border-top: 1px solid rgba(193, 193, 193, 0.825);
}

.footer-list {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.footer-list li a {
    margin-left: 10px;
}

